{
  "minified": true,
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-flow-strip-types"
  ],
  "env": {
    "production": {
      "presets": [
        [
          "minify",
          {
            "mangle": false,
            "evaluate": false
          }
        ]
      ]
    }
  }
}