# See https://help.github.com/ignore-files/ for more about ignoring files.

*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.vscode
.nyc_output
.strong-pm
coverage
testresults
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
dist